# Static linking of the C runtime so the release .exe does not require
# the Visual C++ Redistributable on the target machine.
[target.x86_64-pc-windows-msvc]
rustflags = ["-C", "target-feature=+crt-static"]

[target.i686-pc-windows-msvc]
rustflags = ["-C", "target-feature=+crt-static"]
